body {
    display: flex;
    background-color: lightblue; /* remove this later */
}


.body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    background-color: #1F2937;
}

.logo-text {
    color: #f9faf8;
    font-size: 24px;
}

a {
    color: #e5e7eb;
}

.header links {
    font-size: 18px;
}

.top-section {
    background-color: #1F2937;
}

.main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: extra-bold;
}

.secondary-text {
    color: #e5e7eb;
    font-size: 18px;
}

.main-pic {
    min-width: 500px;
    min-height: 200px;
    background-color: darkgrey;
}
.info-section {
    background-color: #ffffff;
}

.info-h-text {
    color: #1F2937;
    font-size: 36px;
    font-weight: extra-bold;
}

.image-box {
    min-width: 175px;
    min-height: 175px;
    border-radius: 15%;
    border: solid 2px #3882f6;
}

.quotes-section {
    background-color: #e5e7eb;
}

.quote {
    color: #1f2937;
    font-weight: light;
    font-style: italic;
}

.bottom-section {
    background-color: #ffffff;
}

.sign-up, button {
    background-color: #3882f6;
}

.sign-up {
    width: 500px;
}

.footer {
    color: #e5e7eb;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}