body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Trebuchet MS', Arial, sans-serif;  
}

.body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Page sections are numbered 1-4 vertically top to bottom, followed by the footer */

/*** Section 1 ***/


.top-section {
    background-color: #97ce649b;
    display: flex;
    padding: 24px 160px 80px 160px;
    gap: 48px;
}

.top-section-left, .top-section-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 48px;
    padding-bottom: 48px;
}

.top-section-left {
     align-items: flex-start;  
}

.top-section-right {
    align-items: flex-end;
}

.logo {
    /* color: #FEED72; */
    /* color: #7dbb5c; */
    color: #649549;
    font-size: 24px;
}

button {
    background-color: transparent;
    /* color: #97CE64; */
    color: #ffffff;
    border: 2px solid white;
    font-size: 18px;
    font-style: bolder;
    min-width: 110px;
    min-height: 32px;
    border-radius: 6px;
    padding: 8px;
}

.header-links {
    display: flex;
    gap: 16px;
    font-size: 18px;
}

a {
    color: #649549;
    text-decoration: none;
}

.main-text {
    color: #649549;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 2px;
}

.secondary-text {
    color: #FFFFFF;
    font-size: 18px;
    margin-top: 2px;
    margin-bottom: 10px;
}

.main-pic {
    width: 460px;
    height: 210px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    background-color: #ffffff;
}

/*** Section 2 ***/

.info-section {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.info-header {
    color: #97CE64;
    font-size: 36px;
    font-weight: extra-bold;
}

.fig-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #97CE64;
    margin: 20px;
    padding-bottom: 96px;
    width: 150px;
    text-align: center;
}

.image-box {
    width: 150px;
    height: 150px;
    border-radius: 15%;
    margin: 0;
    border: solid 2px #97CE64; 
}

/*** Section 3 ***/


 .bottom-2-container {
    background-color: #97CE64;
    
} 

.quotes-section {
    background-color: #C4E7E8;
    display: flex;
    justify-content: center;
}

.quotes-container {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    align-items: center;
    margin: 48px;
}

.quote {
    color: #ffffff;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quote-attr {
    display: flex;
    align-self: flex-end;
    font-weight: bolder;
    color: #ffffff;
}

/*** Section 4 ***/

.bottom-section {
    background-color: #ffffff; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.green-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: #97CE64;
    padding: 16px 80px;
    gap: 250px;
    border-radius: 10px;
    border: 3px solid #97CE64; 
}

.green-left {
    display: flex;
    flex-direction: column;
}

.sign-up {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
}

.sign-up-caption {
    font-weight: lighter;
    margin-top: 0;
}

.bottom-button {
    color: #ffffff;
    background-color: #97CE64;
}

/*** Footer ***/

.footer {
    background-color: #C4E7E8;  
    color: #ffffff;
    opacity: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

